{:source-paths ["src" "test"]

 :dependencies
 [[metosin/malli "0.16.4"]]

 :builds
 {:node-test
  {:target      :node-test
   :output-to   "target/node-test.cjs"
   :ns-regexp   "proxx\\..*-test$"
   :compiler-options {:source-map true}}

  :node-e2e
  {:target      :node-test
   :output-to   "target/node-e2e.cjs"
   :ns-regexp   "proxx\\.e2e\\..*-test$"
   :compiler-options {:source-map true}}}}
