{;; Paths linted by default when running `clj-kondo --lint src/proxx test/proxx`
 :paths ["src" "test"]

 :linters
 {:unused-namespace        {:level :warning}
  :unused-referred-var     {:level :warning}
  :unresolved-symbol       {:level :error}
  :unresolved-namespace    {:level :error}
  :missing-docstring       {:level :off}       ;; noisy during initial dev; flip to :info later
  :single-segment-namespace {:level :warning}  ;; nudge toward proxx.* not bare names
  :shadowed-var            {:level :warning}}

 ;; shadow-cljs test macro support
 :lint-as
 {shadow.test/deftest cljs.test/deftest}

 ;; Don't warn on Malli's use of unqualified schema forms
 :config-in-ns
 {proxx.schema           {:linters {:unresolved-symbol {:level :off}}}
  proxx.ledger.schema    {:linters {:unresolved-symbol {:level :off}}}}}
